{% extends "layouts/main.html" %}


{% block pageTitle %}
Question 2/4
{% endblock %}

{% block header %}

{% include "includes/internal-header-pip.html" %}


  <main>
    <header class="moj-primary-navigation">
    <div class="govuk-width-container ">
      <div class="moj-primary-navigation">

        <div class="moj-primary-navigation__container">
      
          <div class="moj-primary-navigation__nav">
      
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
      
              <ul class="moj-primary-navigation__list">
                <li class="moj-primary-navigation__item" style="border-bottom: 5px solid #1d70b8;"> 
                  <a class="moj-primary-navigation__link" aria-current="page" href="#">Tasks to do</a>
                </span>  </li>
    

              </ul>
      
            </nav>
      
          </div>
        </div>
      
      </div>
      

        
    </div>
    </header>
    </main> 


{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before submitting them</h1>
        <h2 class="govuk-heading-m">Lay conditions</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Posthumous claim
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> posthumous claim</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Residence & presence
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> residence & presence</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Imigration & nationality department (IND)
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> imigration and nationality department (IND)</span></a>
              </dd>
            </div>

            <dt class="govuk-summary-list__key">
              Age criteria
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age criteria</span></a>
            </dd>
          </div>
          
        </dl>

        <p class="govuk-body">Render this once each of the above has been completed - allowing an agent to continue.</p>
        <form action="06" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Complete and continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

</div>
{% endblock %}
